.root {

}

.title {
  font-weight: 900;
  font-style: italic;
  font-size: 1.2rem;
  font-family: "filson-soft";
  margin: 0;
  text-decoration: none;
  color: #000000;
}

.kicker {
  text-transform: uppercase;
  font-family: "filson-soft";
}